In [ ]:
import numpy as np
import pandas as pd
import warnings
warnings.filterwarnings("ignore")

In [ ]:
df = pd.read_excel('/content/moviereviews (1).xlsx')
df

     label                                             review
0      neg  how do films like mouse hunt get into theatres...
1      neg  some talented actresses are blessed with a dem...
2      pos  this has been an extraordinary year for austra...
3      pos  according to hollywood movies made in last few...
4      neg  my first press screening of 1998 and already i...
...    ...                                                ...
1995   pos  i like movies with albert brooks , and i reall...
1996   pos  it might surprise some to know that joel and e...
1997   pos  the verdict : spine-chilling drama from horror...
1998   pos  i want to correct what i wrote in a former ret...
1999   pos  a couple of months ago , when i first download...

[2000 rows x 2 columns]

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   label   2000 non-null   object
 1   review  1938 non-null   object
dtypes: object(2)
memory usage: 31.4+ KB

In [ ]:
df.isnull().sum()

label      0
review    62
dtype: int64

In [ ]:
df.dropna(inplace=True)

In [ ]:
df.isnull().sum()

label     0
review    0
dtype: int64

In [ ]:
ed = []
for index,lab,rev in df.itertuples():
  if type(rev)==str:
    if rev.isspace():
      ed.append(index)
print(ed)

[]

In [ ]:
x = df['review']
y = df['label']

In [ ]:
from sklearn.model_selection import train_test_split
xtrain,xtest,ytrain,ytest = train_test_split(x,y,test_size=0.30,random_state=1)

In [ ]:
from sklearn.pipeline import Pipeline
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.ensemble import RandomForestClassifier

In [ ]:
pipe = Pipeline(
    [
        ('CountVectorizer',CountVectorizer()),
        ('ensemble',RandomForestClassifier())
    ]
)

In [ ]:
pipe.fit(xtrain,ytrain)
ypred=pipe.predict(xtest)

In [ ]:
from sklearn.metrics import classification_report
print(classification_report(ytest,ypred))

              precision    recall  f1-score   support

         neg       0.75      0.80      0.77       293
         pos       0.78      0.72      0.75       289

    accuracy                           0.76       582
   macro avg       0.76      0.76      0.76       582
weighted avg       0.76      0.76      0.76       582